
.img1 {
  width: 60%;
  border-radius: 10px;
}
button {
  height: 35px;
  border: 0;
  border-radius: 10px;
  background-color: #3a0ca3;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .img1 {
    width: 100%;
    border-radius: 10px;
  }
  button {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  .img1 {
    margin-right: 15px;
  }
  button {
    width: 60%;
  }
}
.principal {
  font-size: 24px;
}
.gray {
  color: #676e8b;
}
.a-pnn {
  display: block;
}